# Predict Student Test Score (Kaggle Playground Series)

This notebook explores the impact of synthetic vs original data on model performance in a Kaggle Playground Series competition.

The dataset provided in the competition is synthetically generated using deep learning models, with a link to the original real-world dataset.

Instead of focusing solely on leaderboard performance, the goal of this notebook is to compare how different data sources affect model behavior and evaluation metrics.

In this notebook, three different datasets are analyzed:

* Synthetic data (official competition dataset)

* Original real-world data

* A combined dataset created by merging synthetic and original data

Each dataset undergoes the same preprocessing steps and is evaluated using the same models to ensure a fair comparison.

The evaluation metric used throughout the notebook is RMSE, consistent with the competition metric.

## Exploratory Data Analysis (EDA)

### Importing Libraries

In [77]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import root_mean_squared_error
import optuna
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
import mlflow
import mlflow.sklearn
from mlflow.models.signature import infer_signature

In [40]:
Synt_data = pd.read_csv("data/train.csv")
original_data = pd.read_csv("data/Exam_Score_Prediction.csv")
print(f"Synthetic (Competition) Data = {Synt_data.shape}")
print(f"Original Data = {original_data.shape}")

Synthetic (Competition) Data = (630000, 13)
Original Data = (20000, 13)

In [41]:
Synt_data.head()

,id,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score
0,0,21,female,b.sc,7.91,98.8,no,4.9,average,online videos,low,easy,78.3
1,1,18,other,diploma,4.95,94.8,yes,4.7,poor,self-study,medium,moderate,46.7
2,2,20,female,b.sc,4.68,92.6,yes,5.8,poor,coaching,high,moderate,99.0
3,3,19,male,b.sc,2.00,49.5,yes,8.3,average,group study,high,moderate,63.9
4,4,23,male,bca,7.65,86.9,yes,9.6,good,self-study,high,easy,100.0

In [42]:
original_data.head()

,student_id,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score
0,1,17,male,diploma,2.78,92.9,yes,7.4,poor,coaching,low,hard,58.9
1,2,23,other,bca,3.37,64.8,yes,4.6,average,online videos,medium,moderate,54.8
2,3,22,male,b.sc,7.88,76.8,yes,8.5,poor,coaching,high,moderate,90.3
3,4,20,other,diploma,0.67,48.4,yes,5.8,average,online videos,low,moderate,29.7
4,5,20,female,diploma,0.89,71.6,yes,9.8,poor,coaching,low,moderate,43.7

In [43]:
original_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   student_id        20000 non-null  int64
 1   age               20000 non-null  int64
 2   gender            20000 non-null  object
 3   course            20000 non-null  object
 4   study_hours       20000 non-null  float64
 5   class_attendance  20000 non-null  float64
 6   internet_access   20000 non-null  object
 7   sleep_hours       20000 non-null  float64
 8   sleep_quality     20000 non-null  object
 9   study_method      20000 non-null  object
 10  facility_rating   20000 non-null  object
 11  exam_difficulty   20000 non-null  object
 12  exam_score        20000 non-null  float64
dtypes: float64(4), int64(2), object(7)
memory usage: 2.0+ MB

In [44]:
Synt_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630000 entries, 0 to 629999
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                630000 non-null  int64
 1   age               630000 non-null  int64
 2   gender            630000 non-null  object
 3   course            630000 non-null  object
 4   study_hours       630000 non-null  float64
 5   class_attendance  630000 non-null  float64
 6   internet_access   630000 non-null  object
 7   sleep_hours       630000 non-null  float64
 8   sleep_quality     630000 non-null  object
 9   study_method      630000 non-null  object
 10  facility_rating   630000 non-null  object
 11  exam_difficulty   630000 non-null  object
 12  exam_score        630000 non-null  float64
dtypes: float64(4), int64(2), object(7)
memory usage: 62.5+ MB

## Data Preprocessing

### Handling Missing Values

Missing values are handled using simple and robust strategies suitable for tabular data.

The same imputation logic is applied to all datasets to maintain consistency.

In [ ]:
print("*********** Synthetic Data Missing Values *************")
print(Synt_data.isnull().sum())

print("*********** Original Data Missing Values *************")
print(original_data.isnull().sum())

*********** Syntetic Data Missing Values *************
id                  0
age                 0
gender              0
course              0
study_hours         0
class_attendance    0
internet_access     0
sleep_hours         0
sleep_quality       0
study_method        0
facility_rating     0
exam_difficulty     0
exam_score          0
dtype: int64
*********** Original Data Missing Values *************
student_id          0
age                 0
gender              0
course              0
study_hours         0
class_attendance    0
internet_access     0
sleep_hours         0
sleep_quality       0
study_method        0
facility_rating     0
exam_difficulty     0
exam_score          0
dtype: int64

### Outlier Detection & Handling

Outlier detection was performed to identify potential extreme values that could negatively impact model performance.

Standard statistical methods were used to examine the distribution of numerical features.

After analysis, no significant outliers were detected that required removal or transformation.
Therefore, all observations were retained to preserve the original data distribution.

In [46]:
def outliers_thresholds(dataframe, varabile, q1=0.05, q3=0.95):
    quartile1 = dataframe[varabile].quantile(q1)
    quartile3 = dataframe[varabile].quantile(q3)

    iqr = quartile3 - quartile1
    up_limit = quartile3 + 1.5 * iqr
    low_limit = quartile1 - 1.5 * iqr

    return up_limit, low_limit

def check_outliers(dataframe, varabile):
    up_limit, low_limit = outliers_thresholds(dataframe=dataframe, varabile= varabile)

    if dataframe[(dataframe[varabile] < low_limit) | (dataframe[varabile] > up_limit)].any(axis=None):
        return True
    else:
        return False

In [ ]:
print("Check Outliers on Synthetic Data")
num_col = [col for col in Synt_data.columns if Synt_data[col].dtype != "O"]
for col in num_col:
    print(col, check_outliers(Synt_data, col))

print("******************************************")
print("Check Outliers on Original Data")
num_col = [col for col in original_data.columns if original_data[col].dtype != "O"]
for col in num_col:
    print(col, check_outliers(original_data, col))

Check Outliers on Syntetic Data
id False
age False
study_hours False
class_attendance False
sleep_hours False
exam_score False
******************************************
Check Outliers on Original Data
student_id False
age False
study_hours False
class_attendance False
sleep_hours False
exam_score False

### Feature Engineering

Simple feature engineering techniques are applied to improve model expressiveness while avoiding excessive complexity.

The focus is on interpretability rather than aggressive feature creation.

#### Combined Data

In [106]:
Synt_data.drop("id", axis=1, inplace=True)
original_data.drop("student_id", axis=1, inplace=True)
combined_data = pd.concat([Synt_data, original_data], axis=0)
print(f"df = {combined_data.shape}")

KeyError: "['id'] not found in axis"

In [107]:
combined_data.head()

,age,study_hours,class_attendance,sleep_hours,exam_score,NEW_academic_engagement,NEW_age_study_interaction,NEW_age_class_interaction,gender_male,gender_other,...,sleep_quality_good,sleep_quality_poor,study_method_group study,study_method_mixed,study_method_online videos,study_method_self-study,facility_rating_low,facility_rating_medium,exam_difficulty_hard,exam_difficulty_moderate
0,21,7.91,98.8,4.9,78.3,0.993939,0.874098,0.816680,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,18,4.95,94.8,4.7,46.7,0.595158,0.465514,0.599387,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
2,20,4.68,92.6,5.8,99.0,0.549319,0.489389,0.685266,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,19,2.00,49.5,8.3,63.9,0.122288,0.194397,0.147635,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,23,7.65,86.9,9.6,100.0,0.844868,0.926305,0.771794,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

#### Feature Engineering for Combined Data

In [51]:
combined_data['NEW_academic_engagement'] = combined_data['study_hours'] * combined_data['class_attendance'] 
combined_data['NEW_age_study_interaction'] = combined_data['age'] * combined_data['study_hours']
combined_data['NEW_age_class_interaction'] = combined_data['age'] * combined_data['class_attendance']
combined_data.head()

,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score,NEW_academic_engagement,NEW_age_study_interaction,NEW_age_class_interaction
0,21,female,b.sc,7.91,98.8,no,4.9,average,online videos,low,easy,78.3,781.508,166.11,2074.8
1,18,other,diploma,4.95,94.8,yes,4.7,poor,self-study,medium,moderate,46.7,469.260,89.10,1706.4
2,20,female,b.sc,4.68,92.6,yes,5.8,poor,coaching,high,moderate,99.0,433.368,93.60,1852.0
3,19,male,b.sc,2.00,49.5,yes,8.3,average,group study,high,moderate,63.9,99.000,38.00,940.5
4,23,male,bca,7.65,86.9,yes,9.6,good,self-study,high,easy,100.0,664.785,175.95,1998.7

#### Feature Engineering for Synthetic and Original Data

In [52]:
original_data['NEW_academic_engagement'] = original_data['study_hours'] * original_data['class_attendance'] 
original_data['NEW_age_study_interaction'] = original_data['age'] * original_data['study_hours']
original_data['NEW_age_class_interaction'] = original_data['age'] * original_data['class_attendance']

Synt_data['NEW_academic_engagement'] = Synt_data['study_hours'] * Synt_data['class_attendance'] 
Synt_data['NEW_age_study_interaction'] = Synt_data['age'] * Synt_data['study_hours']
Synt_data['NEW_age_class_interaction'] = Synt_data['age'] * Synt_data['class_attendance']

original_data.head()

,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score,NEW_academic_engagement,NEW_age_study_interaction,NEW_age_class_interaction
0,17,male,diploma,2.78,92.9,yes,7.4,poor,coaching,low,hard,58.9,258.262,47.26,1579.3
1,23,other,bca,3.37,64.8,yes,4.6,average,online videos,medium,moderate,54.8,218.376,77.51,1490.4
2,22,male,b.sc,7.88,76.8,yes,8.5,poor,coaching,high,moderate,90.3,605.184,173.36,1689.6
3,20,other,diploma,0.67,48.4,yes,5.8,average,online videos,low,moderate,29.7,32.428,13.40,968.0
4,20,female,diploma,0.89,71.6,yes,9.8,poor,coaching,low,moderate,43.7,63.724,17.80,1432.0

In [53]:
Synt_data.head()

,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score,NEW_academic_engagement,NEW_age_study_interaction,NEW_age_class_interaction
0,21,female,b.sc,7.91,98.8,no,4.9,average,online videos,low,easy,78.3,781.508,166.11,2074.8
1,18,other,diploma,4.95,94.8,yes,4.7,poor,self-study,medium,moderate,46.7,469.260,89.10,1706.4
2,20,female,b.sc,4.68,92.6,yes,5.8,poor,coaching,high,moderate,99.0,433.368,93.60,1852.0
3,19,male,b.sc,2.00,49.5,yes,8.3,average,group study,high,moderate,63.9,99.000,38.00,940.5
4,23,male,bca,7.65,86.9,yes,9.6,good,self-study,high,easy,100.0,664.785,175.95,1998.7

### Categorical Encoding

In [78]:
ohe_encode = OneHotEncoder(handle_unknown="ignore", sparse_output=False, drop="first")
def ohe_encoder(dataframe, cat_columns):
    encode_columns = ohe_encode.fit_transform(dataframe[cat_columns])
    encode_columns = pd.DataFrame(encode_columns, columns=ohe_encode.get_feature_names_out(cat_columns), index=dataframe.index)

    return encode_columns

#### Encoding for combined data

In [55]:
category_columns_combined = [col for col in combined_data.columns if combined_data[col].dtype == "O"]
encode_combined_cat = ohe_encoder(combined_data, category_columns_combined)
encode_combined_cat.head()

,gender_male,gender_other,course_b.sc,course_b.tech,course_ba,course_bba,course_bca,course_diploma,internet_access_yes,sleep_quality_good,sleep_quality_poor,study_method_group study,study_method_mixed,study_method_online videos,study_method_self-study,facility_rating_low,facility_rating_medium,exam_difficulty_hard,exam_difficulty_moderate
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [56]:
# In Combined Data, let's combine the columns we encoded with the columns we didn't encode(numeric columns).
combined_data = combined_data.drop(category_columns_combined, axis=1)
combined_data = pd.concat([combined_data, encode_combined_cat], axis=1)
combined_data.head()

,age,study_hours,class_attendance,sleep_hours,exam_score,NEW_academic_engagement,NEW_age_study_interaction,NEW_age_class_interaction,gender_male,gender_other,...,sleep_quality_good,sleep_quality_poor,study_method_group study,study_method_mixed,study_method_online videos,study_method_self-study,facility_rating_low,facility_rating_medium,exam_difficulty_hard,exam_difficulty_moderate
0,21,7.91,98.8,4.9,78.3,781.508,166.11,2074.8,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,18,4.95,94.8,4.7,46.7,469.260,89.10,1706.4,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
2,20,4.68,92.6,5.8,99.0,433.368,93.60,1852.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,19,2.00,49.5,8.3,63.9,99.000,38.00,940.5,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,23,7.65,86.9,9.6,100.0,664.785,175.95,1998.7,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

#### Encoding for Synthetic and Original Data

In [57]:
category_columns_original = [col for col in original_data.columns if original_data[col].dtype == "O"]
encode_original_cat = ohe_encoder(original_data, category_columns_original)

original_data = original_data.drop(category_columns_original, axis=1)
original_data = pd.concat([original_data, encode_original_cat], axis=1)
original_data.head()

,age,study_hours,class_attendance,sleep_hours,exam_score,NEW_academic_engagement,NEW_age_study_interaction,NEW_age_class_interaction,gender_male,gender_other,...,sleep_quality_good,sleep_quality_poor,study_method_group study,study_method_mixed,study_method_online videos,study_method_self-study,facility_rating_low,facility_rating_medium,exam_difficulty_hard,exam_difficulty_moderate
0,17,2.78,92.9,7.4,58.9,258.262,47.26,1579.3,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,23,3.37,64.8,4.6,54.8,218.376,77.51,1490.4,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
2,22,7.88,76.8,8.5,90.3,605.184,173.36,1689.6,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,20,0.67,48.4,5.8,29.7,32.428,13.40,968.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,20,0.89,71.6,9.8,43.7,63.724,17.80,1432.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [58]:
category_columns_synt = [col for col in Synt_data.columns if Synt_data[col].dtype == "O"]
encode_synt_cat = ohe_encoder(Synt_data, category_columns_synt)

Synt_data = Synt_data.drop(category_columns_synt, axis=1)
Synt_data = pd.concat([Synt_data, encode_synt_cat], axis=1)
Synt_data.head()

,age,study_hours,class_attendance,sleep_hours,exam_score,NEW_academic_engagement,NEW_age_study_interaction,NEW_age_class_interaction,gender_male,gender_other,...,sleep_quality_good,sleep_quality_poor,study_method_group study,study_method_mixed,study_method_online videos,study_method_self-study,facility_rating_low,facility_rating_medium,exam_difficulty_hard,exam_difficulty_moderate
0,21,7.91,98.8,4.9,78.3,781.508,166.11,2074.8,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,18,4.95,94.8,4.7,46.7,469.260,89.10,1706.4,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
2,20,4.68,92.6,5.8,99.0,433.368,93.60,1852.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,19,2.00,49.5,8.3,63.9,99.000,38.00,940.5,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,23,7.65,86.9,9.6,100.0,664.785,175.95,1998.7,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

### Feature Scaling

Numerical features that are sensitive to scale are normalized using standard scaling.

Tree-based models are generally scale-invariant, but scaling is applied for consistency and potential future model extensions.

In [79]:
min_max_scaler = MinMaxScaler()
def scaler(dataframe, numeric_columns):
    dataframe[numeric_columns] = min_max_scaler.fit_transform(dataframe[numeric_columns])
    return dataframe

In [ ]:
num_columns = ["NEW_academic_engagement", "NEW_age_study_interaction", "NEW_age_class_interaction"]

scaler(original_data, num_columns)
scaler(combined_data, num_columns)
scaler(Synt_data, num_columns)

,age,study_hours,class_attendance,sleep_hours,exam_score,NEW_academic_engagement,NEW_age_study_interaction,NEW_age_class_interaction,gender_male,gender_other,...,sleep_quality_good,sleep_quality_poor,study_method_group study,study_method_mixed,study_method_online videos,study_method_self-study,facility_rating_low,facility_rating_medium,exam_difficulty_hard,exam_difficulty_moderate
0,17,2.78,92.9,7.4,58.9,0.325686,0.243527,0.524419,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,23,3.37,64.8,4.6,54.8,0.274746,0.404022,0.471983,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
2,22,7.88,76.8,8.5,90.3,0.768750,0.912564,0.589477,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,20,0.67,48.4,5.8,29.7,0.037267,0.063879,0.163855,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,20,0.89,71.6,9.8,43.7,0.077236,0.087224,0.437537,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

## Baseline Model Comparison

In this section, multiple machine learning models are compared across three different datasets:
synthetic data, original data, and a combined dataset.

The goal of this step is not hyperparameter optimization, but to understand how different data sources affect baseline model performance.

For each dataset, the following models are evaluated using the same cross-validation strategy:

* Decision Tree

* Random Forest

* LightGBM

* XGBoost

Model performance is compared using RMSE (mean and standard deviation) to ensure a fair and consistent evaluation.

In [91]:
def choose_model(dataframe, target, random_state=15):
    X = dataframe.drop(target, axis=1)
    y = dataframe[target]

    X_train, X_val, y_train, y_val = train_test_split(X,y, test_size=0.2 , random_state=random_state)

    models = {
    "Decision Tree Regressor" : DecisionTreeRegressor(random_state=random_state),
    "Random Forest Regressor" : RandomForestRegressor(n_jobs=-1, random_state=random_state),
    "LightGBM Regressor": LGBMRegressor(random_state=random_state),
    "XGBoost Regressor": XGBRegressor(eval_metric="rmse", objective="reg:squarederror")
    }

    results = []
    for model_name, model in models.items():
        
        scores = cross_val_score(model,
                                X_train,
                                y_train,
                                cv=5,
                                scoring="neg_root_mean_squared_error")
        
        rmse = - scores
        results.append({"Model":model_name,
                    "RMSE mean": rmse.mean(),
                    "RMSE std": rmse.std()}) 
        
    return pd.DataFrame(results)

In [92]:
datasets = {
    'Synthetic Data' : Synt_data,
    'Original Data' : original_data,
    'Combined Data' : combined_data
}

all_results = []

for name, data in datasets.items():
    temp = choose_model(dataframe=data, target='exam_score')
    temp['dataset'] = name
    all_results.append(temp)

final_results = pd.concat(all_results, ignore_index=False)

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.004263 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1371
[LightGBM] [Info] Number of data points in the train set: 403200, number of used features: 26
[LightGBM] [Info] Start training from score 62.495085
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.004384 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1371
[LightGBM] [Info] Number of data points in the train set: 403200, number of used features: 26
[LightGBM] [Info] Start training from score 62.526890
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.004929 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1371
[LightGBM] [Info] Number of data points in the train set: 403200, number of used features: 26
[LightGBM] [Info] Start training from score 62.539832
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.004221 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1372
[LightGBM] [Info] Number of data points in the train set: 403200, number of used features: 26
[LightGBM] [Info] Start training from score 62.519576
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.004322 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1368
[LightGBM] [Info] Number of data points in the train set: 403200, number of used features: 26
[LightGBM] [Info] Start training from score 62.519699
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000171 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1378
[LightGBM] [Info] Number of data points in the train set: 12800, number of used features: 26
[LightGBM] [Info] Start training from score 62.556639
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000181 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1378
[LightGBM] [Info] Number of data points in the train set: 12800, number of used features: 26
[LightGBM] [Info] Start training from score 62.473608
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000882 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1377
[LightGBM] [Info] Number of data points in the train set: 12800, number of used features: 26
[LightGBM] [Info] Start training from score 62.510014
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000688 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1376
[LightGBM] [Info] Number of data points in the train set: 12800, number of used features: 26
[LightGBM] [Info] Start training from score 62.527240
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000191 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1377
[LightGBM] [Info] Number of data points in the train set: 12800, number of used features: 26
[LightGBM] [Info] Start training from score 62.572076
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.004720 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1372
[LightGBM] [Info] Number of data points in the train set: 416000, number of used features: 26
[LightGBM] [Info] Start training from score 62.492317
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.005913 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1370
[LightGBM] [Info] Number of data points in the train set: 416000, number of used features: 26
[LightGBM] [Info] Start training from score 62.524603
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.004281 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1371
[LightGBM] [Info] Number of data points in the train set: 416000, number of used features: 26
[LightGBM] [Info] Start training from score 62.502260
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.004800 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1370
[LightGBM] [Info] Number of data points in the train set: 416000, number of used features: 26
[LightGBM] [Info] Start training from score 62.503122
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.004845 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1371
[LightGBM] [Info] Number of data points in the train set: 416000, number of used features: 26
[LightGBM] [Info] Start training from score 62.496335

In [93]:
final_results.sort_values(by='RMSE mean')

                     Model  RMSE mean  RMSE std         dataset
2       LightGBM Regressor   8.830613  0.005553  Synthetic Data
3        XGBoost Regressor   8.835006  0.005749  Synthetic Data
2       LightGBM Regressor   8.856223  0.008956   Combined Data
3        XGBoost Regressor   8.856535  0.009659   Combined Data
1  Random Forest Regressor   9.175724  0.010029  Synthetic Data
1  Random Forest Regressor   9.190801  0.007637   Combined Data
2       LightGBM Regressor  10.012413  0.088710   Original Data
3        XGBoost Regressor  10.552949  0.117029   Original Data
1  Random Forest Regressor  10.644930  0.138495   Original Data
0  Decision Tree Regressor  12.816903  0.032838  Synthetic Data
0  Decision Tree Regressor  12.861387  0.023089   Combined Data
0  Decision Tree Regressor  15.039164  0.155099   Original Data

## Hyperparameter Tuning

Hyperparameter optimization is performed only on the synthetic dataset.

This decision is intentional: based on the model comparison results, models trained on synthetic data consistently achieved better performance than those trained on original or combined datasets.

Therefore, further optimization efforts are focused on the dataset that demonstrated the strongest baseline results.

LightGBM and XGBoost models are tuned separately, and all tuning experiments are tracked using MLflow.

### LightGBM

In [ ]:
X = Synt_data.drop('exam_score', axis=1)
y = Synt_data['exam_score']

In [97]:
def objective_lgbm(trial):
    params = {
        'max_depth': trial.suggest_int('max_depth', 3, 15),
        'learning_rate': trial.suggest_float('learning_rate', 0.005, 0.1, log=True),
        'n_estimators': trial.suggest_int('n_estimators', 500, 2000),
        'num_leaves': trial.suggest_int('num_leaves',30, 255 ),
        'min_child_samples': trial.suggest_int('min_child_samples', 5, 100),
        'metric' : 'rmse',
        'verbosity': -1,
        'random_state' : 15
        
    }

    model= LGBMRegressor(**params)

    scores = cross_val_score(model,
                             X,
                             y,
                             cv=3,
                             scoring="neg_root_mean_squared_error")
    
    rmse = - scores
    mean_rmse = rmse.mean()
    rmse_cv_std = rmse.std()

    trial.set_user_attr("rmse_std", rmse_cv_std)
    

    return mean_rmse


study_lgbm = optuna.create_study(direction='minimize')
optuna.logging.set_verbosity(optuna.logging.INFO)
study_lgbm.optimize(objective_lgbm, n_trials=30)

[I 2026-01-28 21:41:45,537] A new study created in memory with name: no-name-cb41332a-1181-4866-8f02-6f653142cbc5
[I 2026-01-28 21:43:34,122] Trial 0 finished with value: 8.80143145131081 and parameters: {'max_depth': 7, 'learning_rate': 0.008687653044877851, 'n_estimators': 1789, 'num_leaves': 39, 'min_child_samples': 40}. Best is trial 0 with value: 8.80143145131081.
[I 2026-01-28 21:46:07,759] Trial 1 finished with value: 8.901391494253422 and parameters: {'max_depth': 13, 'learning_rate': 0.07767628639840253, 'n_estimators': 1941, 'num_leaves': 170, 'min_child_samples': 46}. Best is trial 0 with value: 8.80143145131081.
[I 2026-01-28 21:47:14,352] Trial 2 finished with value: 8.888925907906838 and parameters: {'max_depth': 10, 'learning_rate': 0.005466424935149777, 'n_estimators': 655, 'num_leaves': 154, 'min_child_samples': 48}. Best is trial 0 with value: 8.80143145131081.
[I 2026-01-28 21:49:08,793] Trial 3 finished with value: 8.781696893685568 and parameters: {'max_depth': 12, 'learning_rate': 0.011777125832881536, 'n_estimators': 1218, 'num_leaves': 142, 'min_child_samples': 79}. Best is trial 3 with value: 8.781696893685568.
[I 2026-01-28 21:50:23,558] Trial 4 finished with value: 8.782448308045508 and parameters: {'max_depth': 13, 'learning_rate': 0.040753596900389856, 'n_estimators': 1232, 'num_leaves': 129, 'min_child_samples': 80}. Best is trial 3 with value: 8.781696893685568.
[I 2026-01-28 21:51:16,904] Trial 5 finished with value: 8.790019372046729 and parameters: {'max_depth': 15, 'learning_rate': 0.017049768868773216, 'n_estimators': 755, 'num_leaves': 111, 'min_child_samples': 5}. Best is trial 3 with value: 8.781696893685568.
[I 2026-01-28 21:54:11,216] Trial 6 finished with value: 8.802400987999844 and parameters: {'max_depth': 15, 'learning_rate': 0.005192541264853458, 'n_estimators': 1797, 'num_leaves': 92, 'min_child_samples': 7}. Best is trial 3 with value: 8.781696893685568.
[I 2026-01-28 21:57:54,200] Trial 7 finished with value: 8.985691672649118 and parameters: {'max_depth': 14, 'learning_rate': 0.09722539795395228, 'n_estimators': 1937, 'num_leaves': 195, 'min_child_samples': 73}. Best is trial 3 with value: 8.781696893685568.
[I 2026-01-28 21:58:58,535] Trial 8 finished with value: 8.807419644890837 and parameters: {'max_depth': 12, 'learning_rate': 0.010037413828349794, 'n_estimators': 993, 'num_leaves': 57, 'min_child_samples': 60}. Best is trial 3 with value: 8.781696893685568.
[I 2026-01-28 22:01:28,823] Trial 9 finished with value: 8.896291962308991 and parameters: {'max_depth': 15, 'learning_rate': 0.07483465514112224, 'n_estimators': 1351, 'num_leaves': 238, 'min_child_samples': 87}. Best is trial 3 with value: 8.781696893685568.
[I 2026-01-28 22:02:11,058] Trial 10 finished with value: 8.825749395588625 and parameters: {'max_depth': 3, 'learning_rate': 0.02417432068250479, 'n_estimators': 1393, 'num_leaves': 220, 'min_child_samples': 95}. Best is trial 3 with value: 8.781696893685568.
[I 2026-01-28 22:03:26,926] Trial 11 finished with value: 8.774921966923202 and parameters: {'max_depth': 10, 'learning_rate': 0.03265661547249822, 'n_estimators': 1090, 'num_leaves': 128, 'min_child_samples': 76}. Best is trial 11 with value: 8.774921966923202.
[I 2026-01-28 22:04:31,008] Trial 12 finished with value: 8.773328903937037 and parameters: {'max_depth': 9, 'learning_rate': 0.02867322647820237, 'n_estimators': 1091, 'num_leaves': 88, 'min_child_samples': 67}. Best is trial 12 with value: 8.773328903937037.
[I 2026-01-28 22:05:21,536] Trial 13 finished with value: 8.774656391677023 and parameters: {'max_depth': 8, 'learning_rate': 0.035613180381986166, 'n_estimators': 906, 'num_leaves': 81, 'min_child_samples': 64}. Best is trial 12 with value: 8.773328903937037.
[I 2026-01-28 22:06:08,306] Trial 14 finished with value: 8.775953478854413 and parameters: {'max_depth': 7, 'learning_rate': 0.04768458555371631, 'n_estimators': 905, 'num_leaves': 75, 'min_child_samples': 30}. Best is trial 12 with value: 8.773328903937037.
[I 2026-01-28 22:06:44,935] Trial 15 finished with value: 8.797649013768778 and parameters: {'max_depth': 7, 'learning_rate': 0.024134316923490665, 'n_estimators': 558, 'num_leaves': 90, 'min_child_samples': 62}. Best is trial 12 with value: 8.773328903937037.
[I 2026-01-28 22:07:26,918] Trial 16 finished with value: 8.822629771884705 and parameters: {'max_depth': 5, 'learning_rate': 0.0166528845321708, 'n_estimators': 801, 'num_leaves': 31, 'min_child_samples': 61}. Best is trial 12 with value: 8.773328903937037.
[I 2026-01-28 22:08:29,275] Trial 17 finished with value: 8.782040122175152 and parameters: {'max_depth': 9, 'learning_rate': 0.05362240567008823, 'n_estimators': 1442, 'num_leaves': 69, 'min_child_samples': 28}. Best is trial 12 with value: 8.773328903937037.
[I 2026-01-28 22:10:29,014] Trial 18 finished with value: 8.778336935624724 and parameters: {'max_depth': 9, 'learning_rate': 0.032905452202796275, 'n_estimators': 1577, 'num_leaves': 104, 'min_child_samples': 67}. Best is trial 12 with value: 8.773328903937037.
[I 2026-01-28 22:11:19,402] Trial 19 finished with value: 8.806729411848698 and parameters: {'max_depth': 5, 'learning_rate': 0.017650807688051995, 'n_estimators': 1080, 'num_leaves': 52, 'min_child_samples': 89}. Best is trial 12 with value: 8.773328903937037.
[I 2026-01-28 22:12:28,507] Trial 20 finished with value: 8.77776993357081 and parameters: {'max_depth': 8, 'learning_rate': 0.029927710896611892, 'n_estimators': 882, 'num_leaves': 174, 'min_child_samples': 100}. Best is trial 12 with value: 8.773328903937037.
[I 2026-01-28 22:13:39,786] Trial 21 finished with value: 8.775880035534124 and parameters: {'max_depth': 11, 'learning_rate': 0.03259315400971619, 'n_estimators': 1073, 'num_leaves': 125, 'min_child_samples': 72}. Best is trial 12 with value: 8.773328903937037.
[I 2026-01-28 22:14:39,799] Trial 22 finished with value: 8.78184387543313 and parameters: {'max_depth': 10, 'learning_rate': 0.05593074291103456, 'n_estimators': 1145, 'num_leaves': 89, 'min_child_samples': 80}. Best is trial 12 with value: 8.773328903937037.
[I 2026-01-28 22:15:47,815] Trial 23 finished with value: 8.77844448551582 and parameters: {'max_depth': 8, 'learning_rate': 0.042823680191651496, 'n_estimators': 974, 'num_leaves': 114, 'min_child_samples': 59}. Best is trial 12 with value: 8.773328903937037.
[I 2026-01-28 22:16:41,802] Trial 24 finished with value: 8.776628891807087 and parameters: {'max_depth': 10, 'learning_rate': 0.02739649126338611, 'n_estimators': 734, 'num_leaves': 139, 'min_child_samples': 53}. Best is trial 12 with value: 8.773328903937037.
[I 2026-01-28 22:17:06,735] Trial 25 finished with value: 8.807178833593724 and parameters: {'max_depth': 5, 'learning_rate': 0.03665183050346453, 'n_estimators': 525, 'num_leaves': 75, 'min_child_samples': 67}. Best is trial 12 with value: 8.773328903937037.
[I 2026-01-28 22:19:17,918] Trial 26 finished with value: 8.777263436428848 and parameters: {'max_depth': 8, 'learning_rate': 0.021006628752728507, 'n_estimators': 1318, 'num_leaves': 158, 'min_child_samples': 74}. Best is trial 12 with value: 8.773328903937037.
[I 2026-01-28 22:20:57,791] Trial 27 finished with value: 8.805187342507528 and parameters: {'max_depth': 11, 'learning_rate': 0.06203680894431499, 'n_estimators': 1585, 'num_leaves': 101, 'min_child_samples': 88}. Best is trial 12 with value: 8.773328903937037.
[I 2026-01-28 22:22:05,599] Trial 28 finished with value: 8.803484567237541 and parameters: {'max_depth': 6, 'learning_rate': 0.013075174152062366, 'n_estimators': 1135, 'num_leaves': 56, 'min_child_samples': 39}. Best is trial 12 with value: 8.773328903937037.
[I 2026-01-28 22:23:06,400] Trial 29 finished with value: 8.788772814579847 and parameters: {'max_depth': 7, 'learning_rate': 0.020276142961362223, 'n_estimators': 874, 'num_leaves': 123, 'min_child_samples': 55}. Best is trial 12 with value: 8.773328903937037.

In [98]:
print(f"LightGBM best trial: {study_lgbm.best_trial}")
print(f"LightGBM best value: {study_lgbm.best_value}")
print(f"LightGBM best params: {study_lgbm.best_params}")

LightGBM best trial: FrozenTrial(number=12, state=<TrialState.COMPLETE: 1>, values=[8.773328903937037], datetime_start=datetime.datetime(2026, 1, 28, 22, 3, 26, 928419), datetime_complete=datetime.datetime(2026, 1, 28, 22, 4, 31, 8868), params={'max_depth': 9, 'learning_rate': 0.02867322647820237, 'n_estimators': 1091, 'num_leaves': 88, 'min_child_samples': 67}, user_attrs={'rmse_std': np.float64(0.009374642548343253)}, system_attrs={}, intermediate_values={}, distributions={'max_depth': IntDistribution(high=15, log=False, low=3, step=1), 'learning_rate': FloatDistribution(high=0.1, log=True, low=0.005, step=None), 'n_estimators': IntDistribution(high=2000, log=False, low=500, step=1), 'num_leaves': IntDistribution(high=255, log=False, low=30, step=1), 'min_child_samples': IntDistribution(high=100, log=False, low=5, step=1)}, trial_id=12, value=None)
LightGBM best value: 8.773328903937037
LightGBM best params: {'max_depth': 9, 'learning_rate': 0.02867322647820237, 'n_estimators': 1091, 'num_leaves': 88, 'min_child_samples': 67}

### XGBoost

In [49]:
def objective_xgb(trial):
    params = {
    'max_depth': trial.suggest_int('max_depth', 3, 15),
    'learning_rate': trial.suggest_float('learning_rate', 0.005, 0.3, log=True),
    'n_estimators': trial.suggest_int('n_estimators', 500, 2000),
    'subsample': trial.suggest_float('subsample', 0.5, 1.0),
    'colsample_bytree': trial.suggest_float('colsample_bytree', 0.5, 1.0),
    'gamma': trial.suggest_float('gamma', 0, 5),
    'min_child_weight': trial.suggest_int('min_child_weight', 1, 10),
    'reg_alpha': trial.suggest_float('reg_alpha', 0.0, 1.0),
    'reg_lambda': trial.suggest_float('reg_lambda', 0.0, 1.0),
    'random_state': 15,
    'objective': 'reg:squarederror',
    'eval_metric': 'rmse'
}


    model= XGBRegressor(**params)

    scores = cross_val_score(model,
                             X,
                             y,
                             cv=3,
                             scoring="neg_root_mean_squared_error")
    
    rmse = - scores
    mean_rmse = rmse.mean()
    rmse_cv_std = rmse.std()

    trial.set_user_attr("rmse_std", rmse_cv_std)
    

    return mean_rmse

study_xgb = optuna.create_study(direction="minimize")
optuna.logging.set_verbosity(optuna.logging.INFO)
study_xgb.optimize(objective_xgb, n_trials=30)

[I 2026-01-24 16:39:40,546] A new study created in memory with name: no-name-52b265f2-024a-4120-8468-028ee3bf7278
[I 2026-01-24 16:41:46,119] Trial 0 finished with value: 8.791423461113464 and parameters: {'max_depth': 6, 'learning_rate': 0.04523131138436962, 'n_estimators': 1762, 'subsample': 0.9986271684293708, 'colsample_bytree': 0.6921713085458234, 'gamma': 1.037542458637894, 'min_child_weight': 1, 'reg_alpha': 0.6077049215816768, 'reg_lambda': 0.25981321061648277}. Best is trial 0 with value: 8.791423461113464.
[I 2026-01-24 16:42:37,342] Trial 1 finished with value: 8.814991034621805 and parameters: {'max_depth': 6, 'learning_rate': 0.03292480402516286, 'n_estimators': 597, 'subsample': 0.601350786132907, 'colsample_bytree': 0.6371453908094977, 'gamma': 4.849314855027347, 'min_child_weight': 3, 'reg_alpha': 0.10250641124558346, 'reg_lambda': 0.001727151433340568}. Best is trial 0 with value: 8.791423461113464.
[I 2026-01-24 16:46:37,382] Trial 2 finished with value: 9.451846717497952 and parameters: {'max_depth': 13, 'learning_rate': 0.09494725916653558, 'n_estimators': 680, 'subsample': 0.5321137430714955, 'colsample_bytree': 0.9962335001586478, 'gamma': 3.26854082955984, 'min_child_weight': 2, 'reg_alpha': 0.9061450256103551, 'reg_lambda': 0.642590153445239}. Best is trial 0 with value: 8.791423461113464.
[I 2026-01-24 16:56:08,995] Trial 3 finished with value: 8.847090026413985 and parameters: {'max_depth': 13, 'learning_rate': 0.005760498556036177, 'n_estimators': 1791, 'subsample': 0.7338716706443662, 'colsample_bytree': 0.6639860424461033, 'gamma': 3.9575051987509866, 'min_child_weight': 10, 'reg_alpha': 0.555156364403414, 'reg_lambda': 0.21151832745783594}. Best is trial 0 with value: 8.791423461113464.
[I 2026-01-24 16:58:28,796] Trial 4 finished with value: 8.96350158412899 and parameters: {'max_depth': 12, 'learning_rate': 0.008038214931455411, 'n_estimators': 501, 'subsample': 0.7789572369032214, 'colsample_bytree': 0.6314228514911149, 'gamma': 4.661898231185207, 'min_child_weight': 7, 'reg_alpha': 0.9570759361252975, 'reg_lambda': 0.42779755892057936}. Best is trial 0 with value: 8.791423461113464.
[I 2026-01-24 17:01:00,713] Trial 5 finished with value: 8.968482282397867 and parameters: {'max_depth': 9, 'learning_rate': 0.07413401911814413, 'n_estimators': 1224, 'subsample': 0.8215612240553263, 'colsample_bytree': 0.9743514001623492, 'gamma': 0.15757935212991625, 'min_child_weight': 3, 'reg_alpha': 0.09591048640305333, 'reg_lambda': 0.7429641282934005}. Best is trial 0 with value: 8.791423461113464.
[I 2026-01-24 17:02:39,207] Trial 6 finished with value: 8.797410615954245 and parameters: {'max_depth': 5, 'learning_rate': 0.03261820960650455, 'n_estimators': 1466, 'subsample': 0.971568064856077, 'colsample_bytree': 0.7511645094105908, 'gamma': 1.1129256355665924, 'min_child_weight': 7, 'reg_alpha': 0.9099317029966575, 'reg_lambda': 0.9010201849088384}. Best is trial 0 with value: 8.791423461113464.
[I 2026-01-24 17:07:22,148] Trial 7 finished with value: 10.093554406030668 and parameters: {'max_depth': 12, 'learning_rate': 0.23339774995277668, 'n_estimators': 1541, 'subsample': 0.6594459771488806, 'colsample_bytree': 0.8826119630651796, 'gamma': 2.193499268764865, 'min_child_weight': 8, 'reg_alpha': 0.899714676161756, 'reg_lambda': 0.21818589248287723}. Best is trial 0 with value: 8.791423461113464.
[I 2026-01-24 17:10:13,672] Trial 8 finished with value: 9.026373640718658 and parameters: {'max_depth': 11, 'learning_rate': 0.09540611680179448, 'n_estimators': 1570, 'subsample': 0.9902785262306475, 'colsample_bytree': 0.7463182830397057, 'gamma': 3.682511958575701, 'min_child_weight': 5, 'reg_alpha': 0.4543700954112302, 'reg_lambda': 0.5141268254715772}. Best is trial 0 with value: 8.791423461113464.
[I 2026-01-24 17:13:20,045] Trial 9 finished with value: 10.571743919109126 and parameters: {'max_depth': 14, 'learning_rate': 0.2677912896048348, 'n_estimators': 1005, 'subsample': 0.5147339326625775, 'colsample_bytree': 0.6753675010290812, 'gamma': 4.7898506591092, 'min_child_weight': 6, 'reg_alpha': 0.9271281194073672, 'reg_lambda': 0.07585328796943658}. Best is trial 0 with value: 8.791423461113464.
[I 2026-01-24 17:14:52,831] Trial 10 finished with value: 8.854056308337347 and parameters: {'max_depth': 3, 'learning_rate': 0.01662067771660777, 'n_estimators': 1984, 'subsample': 0.8873164291259915, 'colsample_bytree': 0.5074019677416339, 'gamma': 1.7354248635833782, 'min_child_weight': 1, 'reg_alpha': 0.600415397151025, 'reg_lambda': 0.36391756531323693}. Best is trial 0 with value: 8.791423461113464.
[I 2026-01-24 17:16:31,480] Trial 11 finished with value: 8.793407005708664 and parameters: {'max_depth': 6, 'learning_rate': 0.027561028133000407, 'n_estimators': 1404, 'subsample': 0.9930400779383161, 'colsample_bytree': 0.8119302453871169, 'gamma': 0.8848172852049876, 'min_child_weight': 5, 'reg_alpha': 0.7190801045745274, 'reg_lambda': 0.9336540143531308}. Best is trial 0 with value: 8.791423461113464.
[I 2026-01-24 17:18:29,322] Trial 12 finished with value: 8.79492556818569 and parameters: {'max_depth': 8, 'learning_rate': 0.015049635207755131, 'n_estimators': 1228, 'subsample': 0.8733081749425003, 'colsample_bytree': 0.842575389856727, 'gamma': 0.4693191034301777, 'min_child_weight': 4, 'reg_alpha': 0.666246089080614, 'reg_lambda': 0.9367719036394953}. Best is trial 0 with value: 8.791423461113464.
[I 2026-01-24 17:20:22,693] Trial 13 finished with value: 8.789293475178766 and parameters: {'max_depth': 6, 'learning_rate': 0.05070308937687233, 'n_estimators': 1777, 'subsample': 0.9263435462862145, 'colsample_bytree': 0.8201651922340006, 'gamma': 1.1324208631132326, 'min_child_weight': 1, 'reg_alpha': 0.38881024300261796, 'reg_lambda': 0.714763750337313}. Best is trial 13 with value: 8.789293475178766.
[I 2026-01-24 17:21:29,133] Trial 14 finished with value: 8.819319668546502 and parameters: {'max_depth': 3, 'learning_rate': 0.05809396170283328, 'n_estimators': 1802, 'subsample': 0.9004473253851402, 'colsample_bytree': 0.5483455695606692, 'gamma': 1.329882627886231, 'min_child_weight': 1, 'reg_alpha': 0.3498679489873777, 'reg_lambda': 0.7024766931040917}. Best is trial 13 with value: 8.789293475178766.
[I 2026-01-24 17:23:51,261] Trial 15 finished with value: 9.026655526098454 and parameters: {'max_depth': 7, 'learning_rate': 0.1569852321949333, 'n_estimators': 1809, 'subsample': 0.928324764217474, 'colsample_bytree': 0.9069901072127079, 'gamma': 2.5431837180487555, 'min_child_weight': 1, 'reg_alpha': 0.2938399027064553, 'reg_lambda': 0.24149035038346917}. Best is trial 13 with value: 8.789293475178766.
[I 2026-01-24 17:24:56,900] Trial 16 finished with value: 8.79705658555953 and parameters: {'max_depth': 5, 'learning_rate': 0.04943551538068508, 'n_estimators': 985, 'subsample': 0.8232226079399936, 'colsample_bytree': 0.7508808816566226, 'gamma': 1.8749105368095897, 'min_child_weight': 3, 'reg_alpha': 0.2583406368892859, 'reg_lambda': 0.599356405797768}. Best is trial 13 with value: 8.789293475178766.
[I 2026-01-24 17:28:39,414] Trial 17 finished with value: 8.8038551962779 and parameters: {'max_depth': 9, 'learning_rate': 0.017999768824191995, 'n_estimators': 1973, 'subsample': 0.9414062144503816, 'colsample_bytree': 0.8005273751191093, 'gamma': 2.7606857179249245, 'min_child_weight': 2, 'reg_alpha': 0.44023780193453865, 'reg_lambda': 0.7588931522032176}. Best is trial 13 with value: 8.789293475178766.
[I 2026-01-24 17:30:05,540] Trial 18 finished with value: 8.803733160638373 and parameters: {'max_depth': 4, 'learning_rate': 0.042741232074344916, 'n_estimators': 1663, 'subsample': 0.711755266952059, 'colsample_bytree': 0.7135508611013069, 'gamma': 0.6534130977575251, 'min_child_weight': 2, 'reg_alpha': 0.7447623511659235, 'reg_lambda': 0.3419485337901743}. Best is trial 13 with value: 8.789293475178766.
[I 2026-01-24 17:33:44,533] Trial 19 finished with value: 9.266197077222955 and parameters: {'max_depth': 10, 'learning_rate': 0.12495828184979921, 'n_estimators': 1362, 'subsample': 0.8505698299705223, 'colsample_bytree': 0.5915016864815756, 'gamma': 1.4732518016832958, 'min_child_weight': 4, 'reg_alpha': 0.1892230178591092, 'reg_lambda': 0.5223918819665418}. Best is trial 13 with value: 8.789293475178766.
[I 2026-01-24 17:37:35,369] Trial 20 finished with value: 8.788996416040739 and parameters: {'max_depth': 7, 'learning_rate': 0.02424077717406291, 'n_estimators': 1701, 'subsample': 0.9431521463961212, 'colsample_bytree': 0.9242022349003731, 'gamma': 0.03224024966953887, 'min_child_weight': 10, 'reg_alpha': 0.38556156070740527, 'reg_lambda': 0.8143180804100962}. Best is trial 20 with value: 8.788996416040739.
[I 2026-01-24 17:40:03,755] Trial 21 finished with value: 8.790026152388394 and parameters: {'max_depth': 7, 'learning_rate': 0.022369383356416903, 'n_estimators': 1720, 'subsample': 0.959302715589731, 'colsample_bytree': 0.9333905587228346, 'gamma': 0.09496223964206052, 'min_child_weight': 10, 'reg_alpha': 0.401747780017599, 'reg_lambda': 0.8724944968272978}. Best is trial 20 with value: 8.788996416040739.
[I 2026-01-24 17:42:28,571] Trial 22 finished with value: 8.796613101988626 and parameters: {'max_depth': 8, 'learning_rate': 0.024336648419032356, 'n_estimators': 1656, 'subsample': 0.9306858901043423, 'colsample_bytree': 0.9369560325463362, 'gamma': 0.07085042842294476, 'min_child_weight': 10, 'reg_alpha': 0.3929363864498436, 'reg_lambda': 0.8236888199227377}. Best is trial 20 with value: 8.788996416040739.
[I 2026-01-24 17:45:04,926] Trial 23 finished with value: 8.79755492977013 and parameters: {'max_depth': 7, 'learning_rate': 0.010327027654393769, 'n_estimators': 1893, 'subsample': 0.790808656022504, 'colsample_bytree': 0.8644764917233168, 'gamma': 0.3321801582872005, 'min_child_weight': 9, 'reg_alpha': 0.48758898180263677, 'reg_lambda': 0.999887009534753}. Best is trial 20 with value: 8.788996416040739.
[I 2026-01-24 17:47:43,504] Trial 24 finished with value: 8.79633477511639 and parameters: {'max_depth': 8, 'learning_rate': 0.011810029666407793, 'n_estimators': 1666, 'subsample': 0.9363508966414886, 'colsample_bytree': 0.9420148442593262, 'gamma': 0.03481815212702899, 'min_child_weight': 9, 'reg_alpha': 0.23596132859914737, 'reg_lambda': 0.8145360856792161}. Best is trial 20 with value: 8.788996416040739.
[I 2026-01-24 17:48:49,410] Trial 25 finished with value: 8.817284802070352 and parameters: {'max_depth': 5, 'learning_rate': 0.02118536029257646, 'n_estimators': 1091, 'subsample': 0.9009899639003507, 'colsample_bytree': 0.9147901838751508, 'gamma': 0.7116189814569748, 'min_child_weight': 9, 'reg_alpha': 0.3468992021011136, 'reg_lambda': 0.8518878162651127}. Best is trial 20 with value: 8.788996416040739.
[I 2026-01-24 17:50:37,427] Trial 26 finished with value: 8.83190281860304 and parameters: {'max_depth': 7, 'learning_rate': 0.07358383701856946, 'n_estimators': 1561, 'subsample': 0.9550134933334604, 'colsample_bytree': 0.8130722923101754, 'gamma': 0.557572208368405, 'min_child_weight': 8, 'reg_alpha': 0.19826787144384322, 'reg_lambda': 0.6615489195437602}. Best is trial 20 with value: 8.788996416040739.
[I 2026-01-24 17:54:40,753] Trial 27 finished with value: 8.862424790806243 and parameters: {'max_depth': 10, 'learning_rate': 0.025777250636051588, 'n_estimators': 1702, 'subsample': 0.8540292748185241, 'colsample_bytree': 0.9552840229929805, 'gamma': 1.4413381630232118, 'min_child_weight': 10, 'reg_alpha': 0.5328956447399493, 'reg_lambda': 0.5932726651245461}. Best is trial 20 with value: 8.788996416040739.
[I 2026-01-24 17:56:34,483] Trial 28 finished with value: 8.836457600309675 and parameters: {'max_depth': 4, 'learning_rate': 0.012078537764316423, 'n_estimators': 1870, 'subsample': 0.9026674183614171, 'colsample_bytree': 0.8765627222293136, 'gamma': 0.0006133589451023935, 'min_child_weight': 8, 'reg_alpha': 0.306279017527095, 'reg_lambda': 0.7663787699653907}. Best is trial 20 with value: 8.788996416040739.
[I 2026-01-24 17:58:14,506] Trial 29 finished with value: 8.796873410905258 and parameters: {'max_depth': 6, 'learning_rate': 0.05701482625744358, 'n_estimators': 1330, 'subsample': 0.9987016256202648, 'colsample_bytree': 0.9994536985884099, 'gamma': 0.9935380117286329, 'min_child_weight': 7, 'reg_alpha': 0.016637085857625078, 'reg_lambda': 0.8675203534680854}. Best is trial 20 with value: 8.788996416040739.

In [50]:
print(f"XgBoost best trial: {study_xgb.best_trial}")
print(f"XgBoost best value: {study_xgb.best_value}")
print(f"XgBoost best params: {study_xgb.best_params}")

XgBoost best trial: FrozenTrial(number=20, state=<TrialState.COMPLETE: 1>, values=[8.788996416040739], datetime_start=datetime.datetime(2026, 1, 24, 17, 33, 44, 537867), datetime_complete=datetime.datetime(2026, 1, 24, 17, 37, 35, 369593), params={'max_depth': 7, 'learning_rate': 0.02424077717406291, 'n_estimators': 1701, 'subsample': 0.9431521463961212, 'colsample_bytree': 0.9242022349003731, 'gamma': 0.03224024966953887, 'min_child_weight': 10, 'reg_alpha': 0.38556156070740527, 'reg_lambda': 0.8143180804100962}, user_attrs={'rmse_std': np.float64(0.04597024410371482)}, system_attrs={}, intermediate_values={}, distributions={'max_depth': IntDistribution(high=15, log=False, low=3, step=1), 'learning_rate': FloatDistribution(high=0.3, log=True, low=0.005, step=None), 'n_estimators': IntDistribution(high=2000, log=False, low=500, step=1), 'subsample': FloatDistribution(high=1.0, log=False, low=0.5, step=None), 'colsample_bytree': FloatDistribution(high=1.0, log=False, low=0.5, step=None), 'gamma': FloatDistribution(high=5.0, log=False, low=0.0, step=None), 'min_child_weight': IntDistribution(high=10, log=False, low=1, step=1), 'reg_alpha': FloatDistribution(high=1.0, log=False, low=0.0, step=None), 'reg_lambda': FloatDistribution(high=1.0, log=False, low=0.0, step=None)}, trial_id=20, value=None)
XgBoost best value: 8.788996416040739
XgBoost best params: {'max_depth': 7, 'learning_rate': 0.02424077717406291, 'n_estimators': 1701, 'subsample': 0.9431521463961212, 'colsample_bytree': 0.9242022349003731, 'gamma': 0.03224024966953887, 'min_child_weight': 10, 'reg_alpha': 0.38556156070740527, 'reg_lambda': 0.8143180804100962}

## Final Model Training & Prediction

### Test Data Pre-processing

In this section, we apply preprocessing steps to predict the test dataset using XgBoost and LightGBM models.

In [101]:
test = pd.read_csv("data/test.csv")
test_id = test["id"]
test.drop("id", axis=1, inplace=True)

test['NEW_academic_engagement'] = test['study_hours'] * test['class_attendance'] 
test['NEW_age_study_interaction'] = test['age'] * test['study_hours']
test['NEW_age_class_interaction'] = test['age'] * test['class_attendance']

test_cat_columns = [col for col in test.columns if test[col].dtype == "O"]

test_encode_cat_col =ohe_encode.fit_transform(test[test_cat_columns])
test_encode_cat_col = pd.DataFrame(test_encode_cat_col, columns=ohe_encode.get_feature_names_out(test_cat_columns), index=test.index)


test.drop(test_cat_columns, axis=1, inplace=True)
test_data = pd.concat([test, test_encode_cat_col], axis=1)

test_num_columns = ["NEW_academic_engagement", "NEW_age_study_interaction", "NEW_age_class_interaction"]
scaler(test_data, test_num_columns)

X_features = X.columns
test_data.reindex(columns=X_features, fill_value=0)
test_data.head()

,age,study_hours,class_attendance,sleep_hours,NEW_academic_engagement,NEW_age_study_interaction,NEW_age_class_interaction,gender_male,gender_other,course_b.sc,...,sleep_quality_good,sleep_quality_poor,study_method_group study,study_method_mixed,study_method_online videos,study_method_self-study,facility_rating_low,facility_rating_medium,exam_difficulty_hard,exam_difficulty_moderate
0,24,6.85,65.2,5.2,0.566243,0.865025,0.515866,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,18,6.61,45.0,9.3,0.375734,0.624045,0.070662,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,24,6.60,98.5,6.2,0.826114,0.833192,0.987260,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,24,3.03,66.3,5.7,0.252413,0.378608,0.531438,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,20,2.03,42.4,9.2,0.105777,0.208192,0.093075,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

### LightGBM

In [102]:
final_model_lgbm = LGBMRegressor(**study_lgbm.best_params,
    random_state=15).fit(X,y)

y_pred_lgbm = final_model_lgbm.predict(test_data)

### XGBoost

In [51]:
final_model_xgb = LGBMRegressor(**study_xgb.best_params,
    random_state=15).fit(X,y)

y_pred_xgb = final_model_xgb.predict(test_data)

## Experiment Tracking with MLflow

MLflow is used to track experiments, including hyperparameters and evaluation metrics.

Due to Kaggle environment limitations, the MLflow UI is not displayed, but all runs are logged programmatically for reproducibility.

In [ ]:
mlflow.set_experiment("Kaggle_exam_score_regression")

In [ ]:
signature = infer_signature(X[:1], final_model_lgbm.predict(X[:1]))

with mlflow.start_run(run_name="Student exam Score pred - LightGBM"):
    mlflow.log_param("n_trials", len(study_lgbm.trials))
    mlflow.log_params(study_lgbm.best_params)
    mlflow.log_metric("rmse_cv_mean",study_lgbm.best_value)
    mlflow.log_metric(
        "rmse_cv_std",
        study_lgbm.best_trial.user_attrs["rmse_std"]
    )
    mlflow.set_tag("Model_type", final_model_lgbm.__class__.__name__)
    mlflow.set_tag("tuning", "optuna")
    mlflow.sklearn.log_model(sk_model=final_model_lgbm, name="LightGBM_Regressor", signature=signature)

2026/01/28 22:31:21 INFO alembic.runtime.plugins: setup plugin alembic.autogenerate.schemas
2026/01/28 22:31:21 INFO alembic.runtime.plugins: setup plugin alembic.autogenerate.tables
2026/01/28 22:31:21 INFO alembic.runtime.plugins: setup plugin alembic.autogenerate.types
2026/01/28 22:31:21 INFO alembic.runtime.plugins: setup plugin alembic.autogenerate.constraints
2026/01/28 22:31:21 INFO alembic.runtime.plugins: setup plugin alembic.autogenerate.defaults
2026/01/28 22:31:21 INFO alembic.runtime.plugins: setup plugin alembic.autogenerate.comments
2026/01/28 22:31:22 INFO mlflow.store.db.utils: Creating initial MLflow database tables...
2026/01/28 22:31:22 INFO mlflow.store.db.utils: Updating database tables
2026/01/28 22:31:22 INFO alembic.runtime.migration: Context impl SQLiteImpl.
2026/01/28 22:31:22 INFO alembic.runtime.migration: Will assume non-transactional DDL.
2026/01/28 22:31:22 INFO alembic.runtime.migration: Context impl SQLiteImpl.
2026/01/28 22:31:22 INFO alembic.runtime.migration: Will assume non-transactional DDL.
c:\Users\bahri\anaconda3\envs\stdt_score_pred_env\Lib\site-packages\mlflow\types\utils.py:452: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details.
  warnings.warn(
2026/01/28 22:31:22 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.

In [ ]:
signature = infer_signature(X[:1], final_model_xgb.predict(X[:1]))

with mlflow.start_run(run_name="Student exam Score pred - LightGBM"):
    mlflow.log_param("n_trials", len(study_xgb.trials))
    mlflow.log_params(study_xgb.best_params)
    mlflow.log_metric("rmse_cv_mean",study_xgb.best_value)
    mlflow.log_metric(
        "rmse_cv_std",
        study_xgb.best_trial.user_attrs["rmse_std"]
    )
    mlflow.set_tag("Model_type", final_model_xgb.__class__.__name__)
    mlflow.set_tag("tuning", "optuna")
    mlflow.sklearn.log_model(sk_model=final_model_xgb, name="XGBoost_Regressor", signature=signature)

## Submission Files

Separate submission files are generated for LightGBM and XGBoost models.

This allows independent evaluation and comparison of model performance.

In [104]:
submission = pd.DataFrame({
    "id": test_id,
    "exam_score": y_pred_lgbm
})

submission.to_csv("submission_lightGBM.csv", index=False)

In [ ]:
submission = pd.DataFrame({
    "id": test_id,
    "exam_score": y_pred_xgb
})

submission.to_csv("submission_XGBoost.csv", index=False)